[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"
pandas = "*"
scikit-learn = "*"
tsfresh = "*"
pytest = "*"
scikit-image = "*"
Sphinx = "*"
nbsphinx = "*"


[dev-packages]
